* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}

.position {
  position: relative;
}

.status {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 7px;
  right: 7px;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}

.block {
  display: block;
}

.recommended-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
